<div class="container-fluid navbar">
    <div class="container navbar-container">
      <div class="nav-logo">
        <h4>Angular Lab Exercises</h4>
      </div>
      <div>
        <ul class="navbar-links">
          <li class="nav-links">
            <a routerLink="/arithmetic">Arithmetic Operations</a>
          </li>
          <li class="nav-links">
            <a routerLink="/namesorting">Sorting the Names</a>
          </li>
          <li class="nav-links">
            <a routerLink="/thumbsdemo">Thumbs Demo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
